@model List<PostOutputModel>
@{
    ViewData["Title"] = "Posts";
}

<div class="container">
    @foreach (var post in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text">@post.Content</p>
                <a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary">View Post</a>
                <a asp-area="" asp-controller="Posts" asp-action="Delete" asp-route-postId="@post.Id" class="btn btn-danger">Delete Post</a>
            </div>
        </div>
    }
</div>